.context-wrap
  .container
    article.product
      section.product__head
        section.product__image
          img(src='{{vm.book.cover}}')
        section.product__details
          h1 {{vm.book.title}}
      section.product__info


